.wrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
form
{
    border: solid black 1px;
    border-radius: 6%;
}
input
{
    margin: 10px;
    width: 200px;
    height: 30px;
}
.submit_button
{
    background: limegreen;
    border: none;
    font-size: 15px;
}
.submit_button:hover
{
    background: lime;
}
.reservations
{
    margin-top: 30px
}
.message
{
    color: red;
}